################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/LaylaHft.Platform/.vs
/LaylaHft.Platform/LaylaHft.Platform.AppHost/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.AppHost/obj
/LaylaHft.Platform/LaylaHft.Platform.Domains/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.Domains/obj/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.Domains/obj
/LaylaHft.Platform/LaylaHft.Platform.MarketData/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.MarketData/obj
/LaylaHft.Platform/LaylaHft.Platform.ServiceDefaults/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.ServiceDefaults/obj
/LaylaHft.Platform/LaylaHft.Platform.Shared/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.Shared/obj
/LaylaHft.Platform/LaylaHft.Platform.Client/obj
/LaylaHft.Platform/LaylaHft.Platform.Client/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.Tests/bin/Debug/net9.0
/LaylaHft.Platform/LaylaHft.Platform.Tests/obj
/LaylaHft.Platform/LaylaHft.Platform.MarketData/Data/symbols.bin
/LaylaHft.Platform/LaylaHft.Platform.MarketData/LaylaHft.Platform.MarketData.csproj.user
